.page {
  color: var(--tweet-font-color);
  background: var(--bg-color);
  padding: 0.625rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* Replace some variables from the theme used by the components */
.page.theme {
  --text-margin: 2rem 0;
  --poll-margin: 2.5rem 1rem;
  --heading-margin-top: 4rem;
  --heading-margin-bottom: 2.5rem;
  --li-margin: 0 0 1rem 0;
}

.main {
  margin: 0 auto;
  max-width: 42rem;
  padding: 1rem;
}

.article,
.article > header {
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article > header > h1 {
  font-size: 2.5rem;
  margin-bottom: var(--heading-margin-bottom);
}

.centerCol {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
