.random-tweet {
  font-size: 0.875rem;
}

.random-tweet > span {
  margin-left: 0.5rem;
  color: #ff1a1a;
  animation: changed 0.5s;
}

.generate-tweet-button {
  height: 1rem;
  font-size: 0.875rem;
  text-decoration: underline;
  color: var(--accents-5);
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 0.25rem;
}

.generate-tweet-button:hover {
  text-decoration: none;
}

.generate-tweet-button.tweet-loading {
  cursor: wait;
  text-decoration: none;
  animation: changed 1s;
}

.id {
  animation: updated 1.7s;
}

.m {
  margin-top: 1rem;
}

.centerCol {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweetbutton {
  background-color: var(--link-color);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border: 0 solid var(--link-color);
  box-sizing: border-box;
  color: var(--tweet-font-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 20px;
}

.tweetbutton:hover {
  filter: brightness(80%);
}

@keyframes updated {
  30% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes changed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
